@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

a:hover {
  text-decoration: none !important;
}
.lmc-desc {
  line-height: 1.2em;
  height: 1.2em;
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lmc-loading {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}
.lmc-loading::after {
  display: inline-table;
  white-space: pre;
  text-align: left;
}
.lmc-audio-loading::after {
  content: "◜\A◠\A◝\A◞\A◡\A◟";
  animation: spin6 .6s steps(6) infinite;
}
.lmc-audio-playing::after {
  content: "▏\A▎\A▍\A▌\A▋\A▊\A▉";
  animation: spin7 1s steps(7) infinite alternate;
}
@keyframes spin6  { to { transform: translateY( -9.0em); } }
@keyframes spin7  { to { transform: translateY(-10.5em); } }

.lmc-hide {
  transition: opacity .5s;
  visibility: hidden;
  opacity: 0;
}
.lmc-thumb {
  transition: transform .5s;
  width: 100%;
}
.lmc-header {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 4px;
  padding-left: 16px;
}
.lmc-subheader {
  font-size: 16px;
  color: #bbb;
  padding-left: 16px;
}
.lmc-panel {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
.lmc-panel:hover {
  border-color: green;
}
.lmc-panel:hover .lmc-hide{
  visibility: visible;
  opacity: 1;
}
.lmc-panel:hover .lmc-thumb {
  transform: scale(1.1);
}
.lmc-fullScreenHolder {
  width: 100%;
  height: 80vh;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: background-image .5s ease-out;
}
.custom-modal {
  width: 90% !important;
}
.modal-content {
  border-width: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.modal-footer {
  border-width: 0 !important;
}
.lmc-row {
  margin-bottom: 8px;
}
.lmc-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.lmc-link {
  cursor: pointer;
}



